.vinList {
  flex-direction: column;
  align-items: flex-start;
  font-family: monospace;
  display: flex;
}

.vinList label {
  padding-left:20px;
  font-size: large;
  font-weight: bold;
}

.inputBlock {
  border: 1px solid lightgrey;
  padding: 15px;
  text-align: center;
}

.errorBlock {
  height:20px;
  display:block;
  color: red;
  margin-top:5px;
}

.vinInput {
  height: 40px;
}
